.Tareas {
    display: grid;
    grid-template-rows: 30px 1fr;
    grid-row-gap: 20px;
    padding: 20px;
}

.TareasHeader {
    text-align: center;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 .2px #eee;
    padding: 3px 0;
}

.TareasHeader a {
    color: #ddd;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-decoration: none;
    margin: 0 7px;
    font-size: 13px;
}

.TareasHeader a:hover {
    color: #bbb;
}

.TareasContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-gap: 30px;
    justify-content: center;
}

.card {
    font-family: 'Be Vietnam Pro', 'sans serif';
    height: 280px;
    width: 280px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

/* Card Background styles */
/* .cardRed {
    --background: no-repeat 50% 45%/100% url('../images/card-red.jpeg');
    --pdf-background: #DE432A;
}

.cardBlue {
    --background: no-repeat center/100% url('../images/card-blue.jpeg');
    --pdf-background: #164679;
}

.cardBlack {
    --background: no-repeat 0 20%/100% url('../images/card-black.jpeg');
    --pdf-background: #0D0D0D;
}

.cardGrey {
    --background: no-repeat bottom/100% url('../images/card-grey.jpeg');
    --pdf-background: #737472;
}

.cardYellow {
    --background: no-repeat bottom/100% url('../images/card-yellow.jpeg');
    --pdf-background: #F8F43D;
} */

/* Card - Header */

.cardHeader {
    flex: 0 0 73px;
    box-sizing: border-box;
    padding: 15px 20px 0;
    border-bottom: 1px solid #ddd;
    border-radius: 8px 8px 0 0;
    color: #fff;
    background: var(--pdf-background); /* se puede alternar con background para las imagenes */
}

.cardHeader h2 {
    font-size: 22px;
    margin: 0;
    font-family: Basic;
    white-space: nowrap;
    overflow: hidden;
}

.cardHeader h3 {
    font-size: 16px;
    font-weight: lighter;
    margin: 0;
}

/* Card - Body */

.cardBody {
    box-sizing: border-box;
    padding: 10px 20px;
    flex: 1;
    display: flex;
}

.cardBody .pdfViewer {
    flex: 1 0 178px;
    height: 100%;
}

.pdfViewer div {
    width: 103px;
    height: 100%;
    background-color: var(--pdf-background);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdfViewer div svg {
    font-size: 48px;
    color: #fff;
}

.cardBody .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description span {
    font-size: 10px;
}

.description div {
    display: flex;
    justify-content: flex-end;
}

.description div button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    height: 20px;
}

.description div button svg {
    font-size: 20px;
}

.description div button:first-child {
    color: #FF4545;
}

.description div button:nth-child(2n) {
    color: #32E364;
    margin-left: 5px;
}

/* Card - Footer */

.cardFooter {
    flex: 0 0 33px;
    border-top: 1px solid #ddd;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    color: #666;
}
