.Tareas {
    display: grid;
    grid-template-rows: 30px 1fr;
    grid-row-gap: 20px;
    padding: 20px;
    overflow-y: auto;
}

.TareasHeader {
    text-align: center;
    border-bottom: 1px solid #eee;
    box-shadow: 0 0 .2px #eee;
    padding: 3px 0;
}

.TareasHeader button {
    color: #ddd;
    font-family: 'Be Vietnam Pro', sans-serif;
    text-decoration: none;
    margin: 0 7px;
    font-size: 13px;
    border: 0;
    background: none;
}

.TareasHeader button:hover {
    color: #bbb;
}

.TareasContent {
    display: grid;
    grid-template-columns: repeat(auto-fill, 280px);
    grid-gap: 30px;
    justify-content: center;
}
