body {
  margin: 0;
  font-family: 'Basic', sans-serif;
}

.index-path {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ddd;
  font-size: 1.3rem;
  user-select: none;
}

.index-path svg {
  font-size: 6rem;
}
