:root {
    --input-active: #0891c7;
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #000a;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__dialog {
    background-color: #fff;
    border-radius: 12px;
    height: 60%;
    width: 40%;
    display: flex;
    flex-direction: column;
}

/* Header */

.modal__header {
    background-color: #3E95FB;
    border-radius: 10px 10px 0 0;
    padding: 10px 0;
    text-align: center;
    letter-spacing: 1.2;
    color: #fff;
    flex-shrink: 0;
}

.modal__header h3 {
    margin: 0;
}

/* Body */

.modal__body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15%;
    box-sizing: border-box;
}

.modal__body form {
    width: 100%;
}

/* Input styles */

.input, .fileinput {
    height: 35px;
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.input label, .fileinput label {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 4px;
    position: relative;
    display: flex;
}

.input label input {
    border: none;
    outline: none;
    font-size: .9rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0 11px;
    border-radius: 4px;
}

.input label span {
    position: absolute;
    top: 7px;
    left: 10px;
    color: #aaa;
    font-size: .9rem;
    padding: 0 1px;
}

/* Input Active */

.input_active label {
    animation: active_input_label .3s 1 forwards;
}

.input_active label span {
    animation: active_input_span .3s 1 forwards;
}

@keyframes active_input_label { to { border-color: var(--input-active); } }
@keyframes active_input_span {
    to {
        font-size: .7rem;
        top: -9px;
        background-color: #fff;
        color: var(--input-active);
    }
}

/* Input File */

.fileinput label {
    border: 2px solid var(--input-active);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fileinput label input {
    display: none;
}

.fileinput label span {
    color: var(--input-active);
    font-size: .9rem;
}

/* Input File Active */

.fileinput_active label {
    background-color: var(--input-active);
}

.fileinput_active label span {
    color: #fff;
}
